@import "bootstrap-sprockets";
@import "bootstrap";
@import "toastr";

.avatar-small {
  width: 28px;
}

.avatar-medium {
  width: 44px;
}

.avatar-large {
  width: 60px;
}

.avatar-full {
  width: 100%;
}